.span-box{
    border-radius: 25px;
    cursor: pointer;
    font-size: 30px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: lightgreen;

}

button{
    background-color: white;
    border-radius: 2px;
    padding: 9px;
}