.span-box{
    border-radius: 20px;
    border: 2px solid;
    cursor: pointer;
    font-size: 30px;
    /* padding-left: 7px; */
    padding-right: 7px;
    
    background-color: lightgreen;

}

button{
    background-color: white;
    /* border-radius: 20px; */
    padding: 9px;
    margin: 5px;
}