<div>
  <h1>About the course </h1>
  <span class="span-box" (click)="addInputBox()"> + </span>
  <br>
  <button (click)="toggeleTick('course',0)">
    <span [hidden]="tickObject.course[0].tick">&#10004;</span>In-Depth Explanation</button>
  <button (click)="toggeleTick('course',1)">
    <span [hidden]="tickObject.course[1].tick">&#10004;</span>In-Depth Explanation</button>
  <button (click)="toggeleTick('course',2)">
    <span [hidden]="tickObject.course[2].tick">&#10004;</span>In-Depth Explanation</button>
  <div #boxnew>
    <h1>Here is Where input box gets Added</h1>
  </div>

  <h1>About the Instructor </h1>
  <span class="span-box" (click)="addInputBox()"> + </span>
  <br>
  <button (click)="toggeleTick('instructor',0)">
    <span [hidden]="tickObject.instructor[0].tick">&#9989;</span>In-Depth Explanation</button>
  <button (click)="toggeleTick('instructor',1)">
    <span [hidden]="tickObject.instructor[1].tick">&#9989;</span>In-Depth Explanation</button>
  <button (click)="toggeleTick('instructor',2)">
    <span [hidden]="tickObject.instructor[2].tick">&#9989;</span>In-Depth Explanation</button>
  <div #boxnew>
    <h1>Here is Where input box gets Added</h1>
  </div>


  <h1>About the improvements </h1>
  <span class="span-box" (click)="addInputBox()"> + </span>
  <br>
  <button (click)="toggeleTick('improvement',0)">
    <span [hidden]="tickObject.improvement[0].tick">&#9989;</span>In-Depth Explanation</button>
  <button (click)="toggeleTick('improvement',1)">
    <span [hidden]="tickObject.improvement[1].tick">&#9989;</span>In-Depth Explanation</button>
  <button (click)="toggeleTick('improvement',2)">
    <span [hidden]="tickObject.improvement[2].tick">&#9989;</span>In-Depth Explanation</button>
  <div #boxnew>
    <h1>Here is Where input box gets Added</h1>
  </div>
</div>
